<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>List of all the products</h3>
    <ul data-th-each="p : ${products}">
        <li><span data-th-text="${p.productName}"></span></li>
        <li><span data-th-text="${p.unitPrice}"></span></li>
        <form 
            action="#"
            data-th-action="@{/post/addtoCart}"
            method="Post"
        >
            <input type="hidden" name="retailerId" data-th-value="${p.retailerId}">
            <input type="hidden" name="productId" data-th-value="${p.productId}">
            <input type="hidden" name="productName" data-th-value="${p.productName}">
            <input type="hidden" name="unitPrice" data-th-value="${p.unitPrice}">
            <input type="hidden" name="quantity" data-th-value="${p.quantity}">
            <li><button type="submit">Add to cart</button></li>
        </form>
    </ul>
</body>
</html>