<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Main Page to enter product and retailer information</h3>
    <form 
        action="#"
        data-th-action="@{/insertProducts}"
        method="POST"
    >
        <table>
            <tr data-th-each="p : ${productList}">
                <td>
                    <span data-th-text="${p.name}"></span>
                </td>
                <td>
                    <span data-th-text="${p.unitPrice}"></span>
                </td>
                <td>
                    <span data-th-text="${p.quantity}"></span>
                </td>
            </tr>
        </table>
        <button type="submit">Add</button>
    </form>
</body>
</html>